<% layout("/layouts/boilerplate.ejs") %>
<body>
  <h4>Create a new Listings</h4>
  <form action="/listings/<%= listing._id %>?_method=PUT" method="post">
    <input
      type="text"
      placeholder="enter title"
      name="title"
      value="<%= listing.title %>"
    /><br /><br />
    <textarea type="text" name="description" id="" <%="listing.description" %>
    placeholder="enter description"
  ><%= listing.description %></textarea
    ><br /><br />
    <input
      type="text"
      placeholder="enter image URL"
      name="image"
      value="<%= listing.image.url %>"
    />
    <br /><br />
    <input
      type="number"
      placeholder="enter price"
      name="price"
      value="<%= listing.price %>"
    />
    <input
      type="text"
      name="country"
      placeholder="enter Country"
      value="<%= listing.country %>"
    /><br /><br />
    <input
      type="text"
      placeholder="enter location"
      name="location"
      value="<%= listing.location %>"
    />
    <br /><br />
    <button>Edit</button>
  </form>
</body>
